Application should do following:
	1. Ask enrollment manager to select one options from the list

		- Enroll new students to a course
			- Ask enrollment manager how many students will be enrolled
			- The enrollment manager should be prompted to enter the name and the year of each student
			- The student should have a 5 digit unique ID, with the first number being their grade level
			- A student can be enrolled in the following courses (Each course cost $600 to enroll):
				History 101
				Mathematics 101
				English 101
				Chemistry 101
				Computer Science 101
			- Option to check enrollment status or end process after course selection

		- Enroll an existing student to a course
			- Ask enrollment manager to enter a student ID
			- A student can be enrolled in the following courses (Each course cost $600 to enroll):
				History 101
				Mathematics 101
				English 101
				Chemistry 101
				Computer Science 101
			- Option to check enrollment status or end process after course selection

		- Delist a student from a course
			- Ask enrollment manager to enter a student ID
			- Ask enrollment manager to enter a course code
			- Confirm to delist

		- Check Enrollment Status of an existing student
			- Ask enrollment manager to enter a student ID
			- display student details, course details and invoice details

		- Check Invoice detail of a student
			- Ask enrollment manager to enter a student ID
			- display invoice details

		- Check availability of a course
			- Ask enrollment manager to enter a course code
			- Display how many spots are left